<% if params[:q] == "top_20_rated" %>
  <h1> Top Rated Movies </h1>
<% else %>
  <h1> Search Results For: <%= params[:q] %> </h1>
<% end %>

<%= button_to "Discover Page", "/discover", method: :get %>

<% @movies.each do |movie| %>
  <div id="movie-<%= movie.movie_id %>">
    <p><%= link_to movie.title, "/movies/#{movie.movie_id}" %>, Vote Average: <%= movie.vote_average %></p>
  </div>
<% end %>
